.console-text{
    font-size: 13px;
    margin-left: 269px;
    margin-top: 230px;
    font-weight: lighter;
    position: absolute;
    width: fit-content;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: #C8C2BC;
}

.anim-typewriter{
    animation: typewriter 3s steps(34) 1s 1 normal both,
               blinkTextCursor 650ms steps(34) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 135px;} 
  }
  @keyframes blinkTextCursor{
    from{border-right-color: #00ADB5 ;}
    to{border-right-color: transparent;}
  }

@media only screen and (max-width: 50em){
    .console-text{
        margin-left: 143px;
        font-size: 10px;
        margin-top: 160px;
    }
    @keyframes typewriter{
        from{width: 0;}
        to{width: 105px;}
      }
}